.spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.no-permission {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  h3 {
    margin: 0 auto;
  }
}
